/* View Change Navigation */
.slide-view {
  position: relative;
}

.slide-view.ng-enter {
  transition: 0.5s linear all;
  transition-delay: 0.45s;
  z-index: 100;
  left: 7em;
  opacity: 0;
}

.slide-view.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}

.slide-view.ng-leave {
  transition: 0.5s linear all;
  z-index: 101;
  opacity: 1;
  left: 0;
}

.slide-view.ng-leave.ng-leave-active {
  left: -7em;
  opacity:0;
}

/* Weather App Animations */

.forecast.ng-enter {
  transition: 0.60s linear all;
  transition-delay: 1s;
  left: 3em;
  opacity: 0;
}

.forecast.ng-enter-stagger {
  transition-delay: 0.25s;
}

.forecast.ng-enter-active {
  left: 0;
  opacity: 1;
}

.weather.ng-enter {
  transition: 0.5s linear all;
  transition-delay: 0.25s;
  opacity: 0;     
}

.weather.ng-enter-active {
  opacity: 1;
}