/*****************************
  ANIMATIONS
*****************************/

.slide-view {
  position: relative;
}

.slide-view.ng-enter {
  transition: 0.5s linear all;
  transition-delay: 0.45s;
  z-index: 100;
  left: 7em;
  opacity: 0;
}

.slide-view.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}

.slide-view.ng-leave {
  transition: 0.5s linear all;
  z-index: 101;
  opacity: 1;
  left: 0;
}

.slide-view.ng-leave.ng-leave-active {
  left: -7em;
  opacity:0;
}