/************************************** 
  BASE ELEMENT STYLES
**************************************/

* {
  box-sizing: border-box;
}

html {
  /* Permanently places a scrollbar on the right even if the page isn't wide enough for a scroll. This is to prevent the nav elements from shifting when a new view is loaded that doesn't require a scroll bar */
  overflow-y: scroll; 
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

body {
  background-color: whitesmoke;
  color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

button,
.button {
  background-color: #002E64;
  border-radius: 4px;
  font-weight: bold;
  color: #fff; 
}

button:focus,
.button:focus,
button:hover,
.button:hover {
  background-color: #dfdfdf;
  color: #002E64;
}
button:hover,
.button:hover {
  cursor: pointer;
}

h1 {
  font-size: 2.25rem;
  margin-top: 0;
}

h2 {
  color: #002E64;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  margin: 1.25rem 0 1rem 0;
}

h1, 
h2, 
h3, 
h4, 
a {
  font-weight: bold;
}

main {
  margin: 0 auto;
  max-width: 1150px;
  padding: 1em 1.5em;
}

main a {
  color: #337ab7;
}

main ul {
  list-style-position: inside;
  padding-left: 15px;
}

ul li a:focus, 
ul li a:hover {
  color: #dfdfdf;
}

.profile-picture {
  border-radius: 5px;
  float: right;
  margin-left: 1em;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.loading-screen {
  padding: 2rem;
  text-align: center;
}

/* Override default button and input borders and outlines */ 

a,
textarea,
input,
button,
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover {
  outline: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #ccc !important;
}

input {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc
}



/************************************** 
  BASE LAYOUT STYLES
**************************************/

/* ---- Navigation ---- */

nav {
  background-color: #000f21;
  left: 0;
  min-height: 60px;
  right: 0;
}

nav a {
  color: #a9a9a9;
  display: block;
  padding: 10px 15px;
  text-align: center;
}

nav div {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 1em;
}

nav div>a {
  font-size: 1.5em;
}

nav li {
  list-style: none;
}

nav li {
  background: rgba(0, 83, 179, .60);
  border-radius: 2px;
  margin-bottom: 5px;
}

nav li:hover,
nav li.active {
  background: rgba(0, 83, 179, .90);
}

nav div>a:active,
nav div>a:focus,
nav a:hover,
nav li.active a {
  color: #dfdfdf
}

nav ul {
  margin: 0;
  padding: 0;
}

/* ---- Nav Flexbox ---- */

nav div,
nav ul {
  display: flex;
  flex-direction: column;
}

/* ---- Tables ---- */

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
}

table td {
  padding: 8px;
}

table.skills td,
table.skills th {
  border-top: 1px solid #ccc;
}
table.skills th {
  text-align: left;
}

th {
  padding: 8px;
}

/* ---- Contact Form ---- */

label {
  display: block;
}

.contact input,
.contact textarea {
  display: block;
  margin-bottom: 10px;
  width: 75%;
}

label span {
  color: red;
}

.contact input.button {
  width: 85px;
}



/************************************** 
  MEDIA QUERIES
**************************************/

@media (min-width: 796px) {
  
  body {
    padding-top: 60px; /* to account for the fixed navbar */
  }
  
  /* ---- Navigation ---- */
  
  nav {
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  nav div, 
  nav ul {
    flex-direction: row;
    margin-top: 5px;
  }
  
  nav div {
    justify-content: space-between;
  }
  
  nav ul li:first-child,
  nav ul li:nth-child(2) {
    margin-right: .75em;
  }
  
}
