<div class="wrapper" [class.is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav mode="side"
                 [fixedInViewport]="mobileQuery.matches" 
                 [opened]="!mobileQuery.matches"
                 (opened)="navOpen = true"
                 (closed)="navOpen = false">
      <mat-nav-list>
        <a mat-list-item>About</a>
        <a mat-list-item>Experience</a>
        <a mat-list-item>Skills</a>
        <a mat-list-item>Education</a>
        <a mat-list-item>Contact</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button 
                (click)="sideNav.toggle()"
                disableRipple="true">
          <mat-icon>{{ navOpen ? 'close' : 'menu' }}</mat-icon>
        </button>
        <h1 class="app-name">Jason Rahm</h1>
      </mat-toolbar>
      <main>
        <section>
          <h2>About</h2>
          <div class="container about">
            <p *ngFor="let x of about">{{ x }}</p>
          </div>
        </section>
        
        <app-experience></app-experience>

        <app-skills></app-skills>
        
        <section>
          <h2>Education</h2>
        </section>
        
        <section>
          <h2>Contact</h2>
        </section>
        
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

