<div class="wrapper" [class.is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav 
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" 
                 [opened]="!mobileQuery.matches"
                 (opened)="navOpen = true"
                 (closed)="navOpen = false">

      <button class="menu-trigger nav-open"
              *ngIf="navOpen"
              mat-icon-button 
              (click)="sideNav.toggle()"
              disableRipple="true">
        <mat-icon>close</mat-icon>
      </button>
      
      <mat-nav-list>
        <!-- https://stackoverflow.com/questions/48569835/angular-and-scroll-to-top-when-redirect -->
        <a mat-list-item (click)="scroll(home)"><mat-icon>home</mat-icon>Home</a>
        <a mat-list-item (click)="scroll(aboutMe)"><mat-icon>person</mat-icon>About</a>
        <a mat-list-item (click)="scroll(exp)"><mat-icon>work</mat-icon>Experience</a>
        <a mat-list-item (click)="scroll(skills)"><mat-icon>code</mat-icon>Skills</a>
        <a mat-list-item (click)="scroll(ed)"><mat-icon>school</mat-icon>Education</a>
<!--        <a mat-list-item (click)="scroll(contact)"><mat-icon>email</mat-icon>Contact</a>-->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      
      <button class="menu-trigger"
              *ngIf="!navOpen"
              mat-icon-button 
              (click)="sideNav.toggle()"
              disableRipple="true">
        <mat-icon>menu</mat-icon>
      </button>
      
      <div class="main-content-wrapper">
        <header class="container site-header" #home>
          <h1>Jason Rahm</h1>
          <h2>Web Developer</h2>
          <img src="assets/jason-rahm.jpg" alt="Jason Rahm">

        </header>
        
        <main>
          
          <section #aboutMe>
            <h2>About Me</h2>
            <div class="container about">
              <p *ngFor="let x of about">{{ x }}</p>
            </div>
          </section>

          <div #exp>
            <app-experience></app-experience>
          </div>
          
          <div #skills>
            <app-skills></app-skills>
          </div>

          <section #ed>
            <h2>Education</h2>
            
            <mat-card>
              <mat-card-title>
                <h3>{{ education.school }}</h3>
                <p>{{ education.city }} | {{ education.start }} - {{ education.end }}</p>
              </mat-card-title>
              <mat-card-content>
                <ul>
                  <li>{{ education.degree }}</li>
                  <li>{{ education.major }}</li>
                </ul>
              </mat-card-content>
            </mat-card>
            
          </section>

<!--
          <section #contact>
            <h2>Contact</h2>
          </section>
-->

        </main>
        
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

