.container.about p {
  font-size: 1.5rem;
  line-height: 150%;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.mat-drawer {
  width: 200px;
  -moz-box-shadow:    3px 0 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow:         3px 0 5px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}

a.mat-list-item {
  margin: 0 10px;
  border-radius: 2px;
}

a.mat-list-item:hover {
  background: #0053b3;
}

.mat-nav-list {
  padding-top: 60px;
}

.mat-nav-list .mat-icon {
  margin-right: 10px;
  position: relative;
  top: -2px;
}

.sidenav-container {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 2;
  -moz-box-shadow:    0 3px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow:         0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-card {
  width: 50%
}

.mat-card-content {
  margin-top: 0;
}

.mat-card-title {
  border-bottom: 0;
  margin-bottom: 0;
}

.mat-card-title p {
  margin-bottom: 0;
}

.menu-trigger {
  background: #000409;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 50px;
  position: fixed;
  width: 50px;
  z-index: 1000;  
}

.menu-trigger.nav-open {
  left: 150px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

