h1 {
  margin-left: 8px;
}

h2 {
  font-size: 2.29rem;
  line-height: 3.212rem;
  margin: 1.46rem 0 60px 0;
  text-transform: uppercase;
  background-color: rgb(0, 83, 179);
  color: white;
  padding: 30px 40px;
}

main {
  padding: 85px 0;
  background: whitesmoke;
}

.mat-card {
  max-width: 1280px;
  margin: 0 auto 60px;
  background: white;
  padding: 0 1.5rem;
}

.mat-card-title > h3 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-size: 2.28rem;
  font-weight: normal;
  line-height: 2.508rem;
  margin: 1.14rem 0 0.912rem 0l
}
