body {
  margin: 0;
}
main {
  margin-top: 50px;
  min-height: calc(100vh - 50px - 50px);
}
nav .MuiTypography-root,
.sr-only {
  position: absolute;
  width: 0px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  nav .MuiTypography-root {
    position: unset;
    width: unset;
    height: unset;
    margin: unset;
    overflow: unset;
  }
}