nav {
  z-index: 1;
  top: 0;
  left: 0;
  li {
    width: 100%;
    max-width: 168px;
    min-width: 60px;
    a {
      &:hover, &:focus {
        text-decoration: none;
        color: $white;
        background-color: $primary;
      }
      &.active {
        background-color: $primary;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .nav-link-text {
      @include sr-only();
    }
  }
}
