nav {
  width: 200px;
  .navbar-nav a {
    .active-icon {
      line-height: 1;
      visibility: hidden;
    }
    &.active {
      .active-icon {
        visibility: visible;
      }
    }
    &:hover {
      background: $primary;
      text-decoration: none;
    }
  }  
}