.about {
  .main-content {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 75%;
    }
  }
  .headshot {
    padding: 2rem 0;
    width: 200px;
    @include media-breakpoint-up(lg) {
      padding: 0;
    }
  }
}
