$footer-height: 56px;
$top-margin: 100px;

html {
  overflow-y: scroll;
}

main {
  margin-top: $top-margin;
  min-height: calc(100vh - #{$footer-height} - #{$top-margin});
  padding: 0 2rem;
  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}

footer {
  height: $footer-height;
  p {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
  }
}

main, footer>div, nav>ul {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
