.mat-card {
  max-width: 860px;
}

.mat-card-content > span,
.mat-card-title > span {
  display: block;
}

.mat-card-content > span {
  color: #003f88;
  font-size: 1.5rem;
}

.mat-card-content li {
  line-height: 200%;
}

.mat-card-title h3 {
  margin-bottom: .5rem;
}
